/aula03/nbproject/private/
/aula02/nbproject/private/
/aula02/build/
/aula03/build/
/aula04Banco/nbproject/private/
/aula04Banco/build/
/Aula05Encapsulamento/nbproject/private/
/Aula05Encapsulamento/build/
/Aula06UEC/nbproject/private/
/Aula06UEC/build/
/ExercicioPratico/nbproject/private/
/ExercicioPratico/build/
/ProjetoPessoas/nbproject/private/
/ProjetoPessoas/build/
/Aula08/nbproject/private/
/Aula08/build/